<html>
<head>
    <title></title>
</head>
<body>
<p>
    You have forgot password. Click on the link below to reset your password.<br>
    <a th:href="${link}">Change Password</a>
</p>

<p>
    If reset link didn't work, copy & paste link below to your browser.

    <span th:text="${link}"></span>
</p>
<span>
    The link will be valid for next 24 hours.
</span>
<span>
    If you didn't send this request,
    please consider changing your password and use 2F security.
</span>

<strong>Thanks for joining, ExpaTeam</strong>
</body>
</html>
